html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  padding: 12px;
  background: #f5f5f5;
  max-width: 500px;
  margin: auto;
}

/* Заголовки */
h2 {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 5px;
}

/* Поля */
input, select {
  width: 100%;
  padding: 14px;
  margin: 6px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Подсказка */
small {
  display: block;
  margin-bottom: 6px;
  color: #777;
  font-size: 13px;
}

/* Кнопки */
button {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* Список товаров */
.item {
  background: white;
  padding: 10px;
  margin-top: 6px;
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 6px;
}

/* Поля внутри строки */
.item input {
  width: 70px;
  padding: 8px;
  font-size: 14px;
}

/* Цена */
.item b {
  font-size: 14px;
}

/* Кнопка удалить */
.item button {
  background: #e53935;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
}

/* Подсказки поиска */
#suggestions {
  position: relative;
  z-index: 5;
}

#suggestions div {
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

#suggestions div:hover {
  background: #eee;
}

/* Итого */
#total {
  font-size: 18px;
  margin-top: 10px;
}

/* Адаптив под маленькие экраны */
@media (max-width: 400px) {
  body {
    padding: 10px;
  }

  h2 {
    font-size: 16px;
  }

  button {
    font-size: 15px;
    padding: 14px;
  }
}