body {
  font-family: Arial;
  padding: 15px;
  background: #f5f5f5;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
}

.item {
  background: white;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.item input {
  width: 80px;
}

/* 🔥 подсказки */
#suggestions {
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

#suggestions div {
  padding: 8px;
  cursor: pointer;
}

#suggestions div:hover {
  background: #f0f0f0;
}